---
layout: default
---

<meta name="theme-color" content="#1E1E1E">

<link rel="apple-touch-icon" href="/images/logo.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link media="all" type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
<link media="all" type="text/css" rel="stylesheet" href="assets/css/all.min.css">
<link media="all" type="text/css" rel="stylesheet" href="assets/css/portfolio.css">

<nav id="navbar" class="navbar fixed-top navbar-inverse bg-inverse navbar-toggleable-sm transparent" role="navigation">
    <div class="container text-center my-auto">
        <div>
            <a href="{{site.baseurl}}" title="Homepage">
                <img id="logo" src="{{site.baseurl}}/images/logo.png" alt="Mars Liao">
            </a>
            <button class="navbar-toggler navbar-toggler-right my-auto" type="button" data-toggle="collapse"
                data-target="#menu" aria-expanded="false" aria-controls="menu" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div id="menu" class="navbar-right navbar-collapse collapse ">
            <ul class="navbar-nav ml-auto transitions">
                <li class="nav-item">
                    <a href={{site.baseurl}} title="Home" class="nav-link nav-active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="collections" title="Collections" class="nav-link ">Collections</a>
                </li>
                <li class="nav-item">
                    <a href="art" title="Art" class="nav-link ">Art</a>
                </li>
                <li class="nav-item">
                    <a href="aboutme" title="About Me" class="nav-link ">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="contact" title="Contact" class="nav-link ">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="wrapper">
    <header id="header">
        <h1>
            <a href="{{site.baseurl}}">
                <strong>{{ site.header.title }}</strong> {{ site.header.subtitle }} &nbsp; &nbsp; &nbsp; &copy; All
                rights reserved
            </a>
        </h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About Me</a></li>
            </ul>
        </nav>
    </header>

    <body class="grey">
        <div id="main">
            {% for image in site.static_files %}
            {% if image.path contains 'home/fulls' %}
            <article class="thumb">
                <a href="{{ site.baseurl }}/images/home/fulls/{{ image.name }}" class="image">
                    <img src="{{ site.baseurl }}/images/home/thumbs/{{ image.name }}" alt=""
                        data-name="{{ image.name }}" /></a>
            </article>
            {% endif %}
            {% endfor %}
        </div>
    </body>
    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h5>{{ site.footer.name }}</h5>
                    <p>{{ site.footer.bio }}</p>
                </section>
                <section>
                    <p>Follow me on Instagram: marsliao_official
                        <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram" style="font-size: 2em;">
                            <span class="label">Instagram</span>
                        </a>
                    </p>
                    <!-- <ul class="icons">
                            {% if site.social_urls.facebook %}
                                <li>
                                    <a href="{{ site.social_urls.facebook }}" class="icon fa-facebook">
                                        <span class="label">Facebook</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.twitter %}
                                <li>
                                    <a href="{{ site.social_urls.twitter }}" class="icon fa-twitter">
                                        <span class="label">Twitter</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.instagram %}
                                <li>
                                    <a href="{{ site.social_urls.instagram }}" class="icon fa-instagram">
                                        <span class="label">Instagram</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.github %}
                                <li>
                                    <a href="{{ site.social_urls.github }}" class="icon fa-github">
                                        <span class="label">GitHub</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% if site.social_urls.linkedin %}
                                <li>
                                    <a href="{{ site.social_urls.linkedin }}" class="icon fa-linkedin">
                                        <span class="label">LinkedIn</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul> -->
                </section>
                <p class="copyright">
                    All rights reserved &copy; {{ site.author }}
                </p>
            </div>
        </div>
    </footer>
</div>