---
layout: home
---

<nav id="navbar" class="navbar navbar-default fixed-top navbar-inverse bg-inverse navbar-toggleable-sm transparent"
    role="navigation">
    <div class="container text-center my-auto">
        <div>
            <a href="{{site.baseurl}}" title="Homepage">
                <img id="logo" src="{{site.baseurl}}/images/logo.png" style="width:100px; height:auto;" alt="Mars Liao">
            </a>
            <!-- <button class="navbar-toggler navbar-toggler-right my-auto" type="button" data-toggle="collapse"
                data-target="#menu" aria-expanded="false" aria-controls="menu" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button> -->
        </div>
        <!-- <div id="menu" class="navbar-right navbar-collapse collapse ">         -->
        <div id="menu" class="navbar-right navbar-collapse collapse ">
            <ul class="navbar-nav ml-auto transitions">
                <li class="nav-item">
                    <a href={{site.baseurl}} title="Home" class="nav-link nav-active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{site.baseurl}}/collections" title="Collections" class="nav-link ">Collections</a>
                </li>
                <li class="nav-item">
                    <a href="{{site.baseurl}}/art" title="Art" class="nav-link ">Art</a>
                </li>
                <li class="nav-item">
                    <a href="{{site.baseurl}}/aboutme" title="About Me" class="nav-link ">About Me</a>
                </li>
                <li class="nav-item">
                    <a href="{{site.baseurl}}/contact" title="Contact" class="nav-link ">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="slideshow-container">
    {% for image in site.static_files %}
    {% if image.path contains 'home/fulls' %}
    <div class="mySlides fade">
        <img src="{{ site.baseurl }}/images/home/fulls/{{ image.name }}" style="width:100%">
    </div>
    {% endif %}
    {% endfor %}
</div>


<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 5 seconds
    }
</script>


<!-- 
    <div id="wrapper">
        <div class="main-loader"></div>
            <div id="main" style="margin-right:10%; margin-left:10%;">
                {% for image in site.static_files %}
                {% if image.path contains 'home/fulls' %}
                <article class="thumb" >
                    <a class='image' href="{{ site.baseurl }}/images/home/fulls/{{ image.name }}">
                        <img src="{{ site.baseurl }}/images/home/thumbs/{{ image.name }}" alt="" data-name="{{ image.name }}">
                    </a>
                </article>
                {% endif %}
                {% endfor %}
            </div>
    </div> -->