<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.poptrox.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/exif.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.min.js"></script>

<footer class="footer container text-center text-muted black">
    <a href="contact" title="Contact" class="mx-2 link-footer text-muted">Contact</a>
    <span class="mx-2 text-muted">All rights reserved &copy; Mars Liao</span>
</footer>