<!DOCTYPE HTML>
<html>
<head>
    {% include header.html %}
</head>
<body>

        
    <link rel="apple-touch-icon" href="{{site.baseurl}}/images/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 

    <link media="all" type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css">
    <link media="all" type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/all.min.css">
    <!-- <link media="all" type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/portfolio.css"> -->

    {{ content }}
    
    {% include footer.html %}
</body>

</html>