<!DOCTYPE HTML>
<html>

<head>
    <!-- <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.3/css/justifiedGallery.min.css" /> -->

    {% include header.html %}
    {% include homecss.html %}
</head>

<body>
    <!-- <link rel="apple-touch-icon" href="{{site.baseurl}}/images/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">  -->

    <link media="all" type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/home.bootstrap.min.css">
    <link media="all" type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/all.min.css">
    <link media="all" type="text/css" rel="stylesheet" href="{{site.baseurl}}/assets/css/portfolio.css">

    {{ content }}

    {% include footer.html %}
</body>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.6.3/js/jquery.justifiedGallery.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/script.min.js"></script> -->
</html>